body{
	color: var(--gris2);
	font-size: .9em;
}
.datosHorario, .horarios{
	width: 70%;
	margin-left: 15%;
	/*color: #4F79D2;*/
	float: left;
}

.fecha{
	width: 100%;
	float: left;
	max-height: 25px;
}
.fecha label{
	float: left;
}
.fecha p{
	margin-top: 0;
	float: right;
	margin-right: 5px;
}

.punto{
	height: 2em;
	float: left;
}

label{	
	color: var(--labelAzul);
}

.datosHorario select{
	width: 45%;
	float: right;
	margin-bottom: 2.5em;
	border-radius: 5px;
	height: 2em;
	border: 1px solid rgba(0,0,0,.2);
	font-family: var(--fuente);
	box-sizing: border-box;
	padding: 5px;
}


.horarios{
	margin-top: 1em;
	margin-bottom: 4em;
}

.horario label{
	background: var(--azulClaro);
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 5px;
	padding-left: 10px;
	color: #fff;
	border-radius: 5px;
}

.horario ul{
	padding: 0;
	margin-left: 2em;
}
.horario ul>li{
	margin-left: 0;
}